<app-ivs-heading title='Terms and Conditions'></app-ivs-heading>

<nav class="bg-white border-b border-gray-200 flex" aria-label="Breadcrumb">
  <ol class="max-w-screen-xl w-full mx-auto px-4 flex space-x-4 sm:px-6 lg:px-8">
    <li class="flex">
      <div class="flex items-center">
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <!-- Heroicon name: solid/home -->
          <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
          </svg>
          <span class="sr-only">Home</span>
        </a>
      </div>
    </li>

    <li class="flex">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a routerLink="/landing" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Home</a>
      </div>
    </li>

    <li class="flex">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a href="javascript:void" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700"
          aria-current="page">Terms and Conditions</a>
      </div>
    </li>
  </ol>
</nav>


<div class="p-4 px-10 md:px-28">
  <div>
    <div class="w-full text-center bg-gray-100 p-5 rounded">
      <div>
        <div>
          <div class='content'>
          <p style="text-align: justify;"><strong>TERMS OF USE</strong></p>
          <ol>
            <li style="text-align: justify;"><strong>Website terms and conditions of use</strong>
              <ol>
                <li>This document sets out the terms and conditions (“Terms”) of the<strong> GOVERNMENT
                    EMPLOYEES
                    MEDICAL SCHEME ("GEMS")</strong>, a registered medical scheme having its principal place of
                  business at
                  124 Mercy Avenue, Menlyn Maine, Waterkloof Glen Ext.2, Pretoria, 0057, pertaining to the access and
                  use of
                  the information, products, services and functions provided on <a
                    href="http://www.gems.gov.za">gems.gov.za</a> and any other online or mobile platform published
                  and/or
                  operated by or on behalf of GEMS (collectively referred to as "the Website").</li>
                <li>By accessing and/or using this Website or any section thereof, you agree to be bound by these Terms
                  and that
                  it is enforceable against you.</li>
                <li>Should any person that accesses the Website (“you” or “user”) disagree with
                  any of
                  the Terms, you must refrain from accessing the Website and/or using our services.</li>
                <li>If you are under the age of 18, you must obtain your parents’ or legal guardians’
                  advance
                  authorization, permission and consent to be bound by these Terms before purchasing any products or
                  services.
                </li>
                <li>GEMS reserves the right, in its sole discretion, to amend and/or replace any of, or the whole of,
                  the Terms
                  and any conditions relating to your access and use of the Website.Such amendments shall supersede
                  and
                  replace any previous Terms and shall be made available on the Website. Each time a user accesses the
                  Website
                  and/or uses the services, the user shall be deemed to have consented, by such access and/or use, to
                  the
                  Terms, as amended and/or replaced by GEMS from time to time. If you are not satisfied with the
                  applicable/amended Terms, you should refrain from using the Website.</li>
                <li>The manner in which you access the Website will be done on the basis of an agreement between you and
                  a third
                  party service provider, such as your data or cellular service provider. GEMS is not responsible for
                  any
                  impact your use of the Website could have on your agreement with such third party service providers.
                </li>
                <li>Where your use of the Website is conditional upon your agreeing to any other terms and conditions
                  imposed by
                  a third party supplier, those terms and conditions shall be in addition to, and not instead of,
                  these Terms.
                </li>
              </ol>
            </li>
            <li style="text-align: justify;"><strong>Content of the website</strong>
              <ol>
                <li>GEMS reserves the right to make improvements, to change or to discontinue, without notice, any
                  aspect or
                  feature of the Website and any information or content on the Website.</li>
                <li>GEMS reserves the right to change and amend the products, prices and rates quoted on this Website
                  from time
                  to time without notice.</li>
                <li>GEMS may use the services of third parties to provide information on the Website. GEMS has no
                  control over
                  such information and makes no representations or warranties of any nature as to its accuracy,
                  appropriateness or correctness. The user agrees that such information is provided “as
                  is” and
                  that GEMS and its online partners shall not be liable for any losses or damages that may arise from
                  the
                  user’s reliance on it, howsoever these may arise.</li>
                <li>GEMS makes no representations or warranties, whether express or implied, as to the accuracy,
                  completeness or
                  reliability of any information, data and/or content on the Website, including without limitation:
                  <ol>
                    <li>GEMS does not warrant that the Website or information or downloads shall be error-free or
                      that they shall
                      meet any particular criteria of performance or quality. GEMS expressly disclaims all implied
                      warranties,
                      including without limitation, warranties of merchantability, fitness for a particular
                      purpose,
                      non-infringement, compatibility, security and accuracy;</li>
                    <li>Whilst GEMS has taken reasonable measures to ensure the integrity of the Website and its
                      contents, no
                      warranty, whether express or implied, is given that any files, downloads or applications
                      available via this
                      Website are free of viruses, or any other data or code which has the ability to corrupt,
                      damage or affect
                      the operation of the user’s system; and</li>
                    <li>GEMS disclaims any responsibility for the verification of any claims. Information published
                      on this Website
                      may be done so in the format in which GEMS receives it and statements from external parties
                      have not
                      necessarily been verified.</li>
                  </ol>
                </li>
                <li>The user warrants that, when requested and elected to do so, it will only submit content through the
                  Website
                  which is complete, true, accurate and correct. GEMS shall be entitled to rely on information so
                  submitted
                  and shall not incur any liability in the event of the user having submitted incorrect or false
                  information.
                </li>
              </ol>
            </li>
            <li style="text-align: justify;"><strong>Access to Restricted Sections of the Website</strong>
              <ol>
                <li>Benefciaries of GEMS could gain access to sections of the Website where access is restricted
                  ("Restricted
                  Sections").</li>
                <li>In order to gain such access, the user will have to register a username and password, shall be
                  subject to
                  minimum requirements, criteria and conditions as may be determined and amended by GEMS from time to
                  time.
                </li>
                <li>The user is responsible to safe guard his/her username and password and not to allow any other
                  person to use
                  same. The user shall remain responsible for all actions, changes and information submitted using the
                  allocated username.</li>
                <li>The use of the Restricted Sections is also subject to these Terms.</li>
                <li>A user may not access the Restricted Sections by using another person's username and/or password.
                </li>
              </ol>
            </li>
            <li style="text-align: justify;"><strong>Linked third party websites and third party content</strong>
              <ol>
                <li>GEMS may provide links to third party websites on the Website. These links are provided to the user
                  for
                  convenience purposes only and GEMS does not endorse, nor does the inclusion of any link imply
                  GEMS’s
                  endorsement of, such websites, their owners, licensees or administrators or such websites’
                  content or
                  security practices and operations.</li>
                <li>While GEMS tries to provide links only to reputable websites or online partners, GEMS cannot accept
                  responsibility or liability for the information provided on other websites. Linked websites or pages
                  are not
                  under, nor subject to, the control of GEMS. GEMS is not responsible for and gives no warranties or
                  makes any
                  representations in respect of the privacy policies or practices of linked or any third party or
                  advertised
                  websites on the Website.</li>
                <li>You agree that GEMS shall not be held liable, directly or indirectly, in any way for the content,
                  the use or
                  inability to use or access to any linked website or any link(s) contained in a linked website, nor
                  for any
                  loss or damage of any sort incurred as a result of any dealings with, or as the result of the
                  presence of
                  such third party linked websites on the Website. Any dealings that you may have with any linked
                  websites,
                  including advertisers, found on the Website, are solely between you and the third party website.
                </li>
              </ol>
            </li>
            <li style="text-align: justify;">
              <strong>Usage restrictions</strong>
              <ul style="margin-top: 20px;">
                <p>The information on the Website, links or attachments hereto are intended for general information
                  purposes. The
                  GEMS has copyright on the contents of this Website. The user hereby agrees that it shall not itself,
                  nor
                  through
                  a third party:</p>
              </ul>
              <ol>
                <li>copy (other than for backup, archival or disaster recovery purposes), reproduce, translate, adapt,
                  vary,
                  modify, lease, licence, sub-licence, encumber or in any other way deal with any part of the Website
                  for any
                  reason and in any manner, unless it is consistent with the intent and purpose of these Terms;</li>
                <li>decompile, disassemble or reverse engineer any portion of the Website;</li>
                <li>write and/or develop any derivative of the Website or any other software program based on the
                  Website;</li>
                <li>modify or enhance the Website. In the event of a user effecting any modifications or enhancements to
                  the
                  Website in breach of this clause, such modifications and enhancements shall be the property of GEMS;
                </li>
                <li>without GEMS’s prior written consent, provide, disclose, divulge or make available to or
                  permit the
                  use of or give access to the Website by persons other than the user;</li>
                <li>remove any identification, trademark, copyright or other notices from the Website;</li>
                <li>post or transmit, by means of reviews, comments, suggestions, ideas, questions or other information
                  through
                  the Website, any content which is unlawful, harmful, threatening, abusive, harassing, defamatory,
                  vulgar,
                  ob-scene, sexually-explicit, profane or hateful, or racially, ethnically or otherwise objectionable
                  content
                  of any kind; and/or</li>
                <li>notwithstanding anything contained to the contrary in these Terms, use the Website for any purpose
                  other
                  than personal, non-commercial and information purposes.</li>
              </ol>
            </li>
            <li style="text-align: justify;"><strong>Security</strong>
              <ol>
                <li>In order to ensure the security and reliable operation of the services to all GEMS’s users and
                  the
                  security of all users' information, GEMS hereby reserves the right to take whatever action it may
                  deem
                  necessary to preserve the security, integrity and reliability of its network and back-office
                  applications.
                </li>
                <li>You may not utilise the Website in any manner which may compromise the security of GEMS’s
                  networks or
                  tamper with the Website in any manner whatsoever, which shall include without limitation, gaining or
                  attempting to gain unauthorised access to the Website, or delivering or attempting to deliver any
                  unauthorised, damaging or malicious code to the Website, all of which is expressly prohibited. Any
                  person or
                  entity which does so, or attempts to do so, shall be held criminally liable. Further, should GEMS
                  suffer any
                  damage or loss, civil damages shall be claimed by GEMS against the user.</li>
                <li>Any user who commits any of the offences detailed in Chapter 13 of the Electronic Communications and
                  Transactions Act25 of 2002 (“ECTA”) (specifically&nbsp;sections 85&nbsp;to 88
                  (inclusive))
                  shall, notwithstanding criminal prosecution, be liable for all resulting liability, loss or damages
                  suffered
                  and/or incurred by GEMS and its affiliates, agents and/or partners.</li>
              </ol>
            </li>
            <li style="text-align: justify;"><strong>Intellectual property rights</strong>
              <ol>
                <li>For the purpose of this clause, the following words shall have the following meanings ascribed to
                  them:
                  <ol>
                    <li>“Intellectual property rights” means all and any of the rights in and to
                      intellectual property
                      of any nature whatsoever owned and/or controlled directly or under licence by GEMS, now or
                      in the future,
                      including without limitation, GEMS’s rights, title and interest in and to all
                      technology, source
                      code/s, trade secrets, logos, systems, methods, trademarks, trade names, styles, insignia,
                      designs, patents
                      and copyright, and all similar proprietary rights which may subsist in any part of the
                      world, whether
                      registered or not.</li>
                  </ol>
                </li>
                <li>All copyright and other intellectual property rights in all content, trademarks, software, data,
                  material,
                  including logos, databases, text, graphics, icons, hyperlinks, confidential information, designs,
                  agreements, and multimedia works, published on or via the Website (“proprietary
                  material”), are
                  the property of, or are licensed to, GEMS and as such are protected from infringement by local and
                  international legislation and treaties.</li>
                <li>By submitting reviews, comments and/or any other content (other than your personal information) to
                  GEMS for
                  posting on the Website, you automatically grant GEMS and its affiliates a non-exclusive,
                  royalty-free,
                  perpetual, irrevocable right and licence to use, reproduce, publish, translate, sub-license, copy
                  and
                  distribute such content in whole or in part worldwide, and to incorporate it in other works in any
                  form,
                  media, or technology now known or hereinafter developed, for the full term of any copyright that may
                  exist
                  in such content. Subject to this licence, you retain any and all rights that may exist in such
                  content.</li>
                <li>All rights not expressly granted are reserved and no right, title or interest in any proprietary
                  material or
                  information contained in this Website is granted to you.</li>
                <li>Except with GEMS’s express written permission, no proprietary material from this Website may
                  be copied
                  or retransmitted.</li>
                <li>Irrespective of the existence of copyright, the user acknowledges that GEMS is the proprietor of all
                  material on the Website (except where a third party is indicated as the proprietor), whether it
                  constitutes
                  confidential information or not, and that the user has no right, title or interest in any such
                  material.
                </li>
                <li>GEMS authorises you only to view, copy, temporarily download to a local drive and to print the
                  content of
                  this Website, or any part thereof, provided that such content is used for personal purposes and for
                  information purposes only, and such content is used for non-commercial purposes.</li>
              </ol>
            </li>
            <li style="text-align: justify;"><strong>Risk, limitation of liability and indemnity</strong>
              <ol>
                <li>The user’s use of this website and the information contained on the website is entirely at the
                  user’s own risk and the user assumes full responsibility and risk of loss resulting from the
                  use
                  thereof.</li>
                <li>The transmission of information via the internet, including without limitation e-mail, is
                  susceptible to
                  monitoring and interception. The user bears all risk of transmitting information in this manner.
                  Under no
                  circumstances shall GEMS be liable for any loss, harm, or damage suffered by the user as a result
                  thereof.
                  Service provider reserves the right to request independent verification of any information
                  transmitted via
                  e-mail and the user consents to such verification should GEMS deem it necessary.</li>
                <li>To the extent permissible by law:
                  <ol>
                    <li>Neither GEMS, its affiliates, shareholders, agents, consultants or employees shall be liable
                      for any damages
                      whatsoever, including without limitation any direct, indirect, special, incidental,
                      consequential or
                      punitive damages, howsoever arising (whether in an action arising out of contract, statute,
                      delict or
                      otherwise) related to the use of, or the inability to access or use the content of the
                      website or any
                      functionality thereof, or the information contained on the website, or of any linked
                      website, even if GEMS
                      knows or should reasonably have known or is expressly advised thereof.</li>
                    <li>The liability of GEMS for faulty execution of the website as well as all damages suffered by
                      the user,
                      whether direct or indirect, as a result of the malfunctioning of the website shall be
                      limited to GEMS
                      rectifying the malfunction, within a reasonable time and free of charge, provided that GEMS
                      is notified
                      immediately of the damage or faulty execution of the website. This liability shall fall away
                      and be
                      expressly excluded if the user attempts to correct or allows third parties to correct or
                      attempt to correct
                      the website without the prior written approval of GEMS. However in no event shall GEMS be
                      liable to the user
                      for loss of profits or for special, incidental, consequential or punitive losses or damages
                      arising out of
                      or in connection with the website or its use or the delivery, installation, servicing,
                      performance or use of
                      it in combination with other computer software.</li>
                    <li>You hereby unconditionally and irrevocably indemnify GEMS and agree to hold GEMS free from
                      all loss,
                      damages, claims and/or costs, of whatsoever nature suffered or incurred by GEMS or
                      instituted against GEMS
                      as a direct or indirect result of:
                      <ol>
                        <li>your use of the Website;</li>
                        <li>software, programs and support services supplied by, obtained by or modified by you
                          or any third party
                          without the consent or knowledge of GEMS;</li>
                        <li>your failure to comply with any of the terms or any other requirements which GEMS
                          may impose from time to
                          time;</li>
                        <li>the actions or requirements of any telecommunications authority or a supplier of
                          telecommunications services
                          or software; or</li>
                        <li>any unavailability of, or interruption in, the service which is beyond the control
                          of GEMS.</li>
                      </ol>
                    </li>
                  </ol>
                </li>
                <li>GEMS makes no warranty or representation as to the availability, accuracy or completeness of the
                  content of
                  the Website. You expressly waive and renounce all your rights of whatever nature that you may have
                  against
                  GEMS for any loss suffered by you, as a result of information supplied by GEMS being incorrect,
                  incomplete
                  or inaccurate.</li>
              </ol>
            </li>
            <li style="text-align: justify;"><strong>Privacy and cookie policy</strong>
              <ol>
                <li>It is the user's responsibility to ensure that its personal information is only submitted to GEMS
                  through
                  trusted channels. Users should be cautious of third parties' attempts to obtain personal information
                  through
                  improper means such as "phishing" or "spoofing". GEMS cannot be responsible for any loss or
                  consequence as a
                  result of the user submitting information through an unauthenticated channel or the user's lack of
                  proper
                  internet security.</li>
                <li>This clause 9 provides details about our Privacy and Cookie Policy, which Policy forms part of these
                  Terms.
                  GEMS takes your privacy seriously and is committed to protecting your personal information. We use
                  the
                  personal information that we collect from you in accordance with this Privacy and Cookie Policy.
                </li>
                <li>Personal information when used in this Policy means information that can identify you as an
                  individual or is
                  capable of identifying you. By personal information we don’t mean general, statistical,
                  aggregated or
                  anonymised information.</li>
                <li>Your use of our services signifies your consent to us collecting and using your personal information
                  in
                  accordance with GEMS’ registered rules.</li>
                <li>Note that on visiting the Website your hard drive may automatically receive from it a persistent
                  cookie
                  which will expire automatically after one year from date of your last visit. It will be used to
                  facilitate
                  your future visits and log on procedures but it will not infringe your privacy or obtain your
                  password or
                  your credit card information.</li>
                <li>The information collected by the cookie from your visit will consist of the following:<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp; Log in time <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp; Your internet protocol address (i.e. the IP number);<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp; The banners clicked on by you;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp; The duration of your visit; and<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;•&nbsp; Details of all interactions during your visit.
                </li>
                <li>The cookie will be used for statistical purposes . Should the cookie contain any personally
                  identifiable
                  information we undertake not to sell or disseminate it to third parties.</li>
                <li>The information in the cookie will be disclosed only to this Website where it will be kept in the
                  strictest
                  confidence in terms of applicable legislation.</li>
                <li>Where with your consent your personal information is linked to identifiable information e.g. your
                  browser
                  habits, you may request this website to provide you with the information so collected and to correct
                  it if
                  necessary.</li>
              </ol>
            </li>
            <li style="text-align: justify;"><strong>Confidentiality</strong>
              <ol>
                <li>As a user of the Website, you agree that you shall hold in the strictest confidence and not disclose
                  to any
                  third party information acquired in connection with any aspect of the products and/or services
                  offered by
                  GEMS. You shall notify GEMS should you discover any loss or unauthorised disclosure of the
                  information.</li>
                <li>Any information or material sent to GEMS will be deemed not to be confidential, unless otherwise
                  agreed in
                  writing by the user and GEMS.</li>
              </ol>
            </li>
            <li style="text-align: justify;"><strong>Breach or cancellation by GEMS</strong>
              <ol>
                <li>GEMS is entitled without notice, in addition to any other remedy available to it at law or under
                  these
                  Terms, including obtaining an interdict, to cancel these Terms, limit or deny such user use of the
                  Website
                  and services, or to claim specific performance of any obligation whether or not the due date for
                  performance
                  has arrived, in either event without prejudice to GEMS’s right to claim damages, should any
                  user:
                  <ol>
                    <li>breach any of these Terms;</li>
                    <p>use the Website in a manner that is harmful or could potentially be harmful to GEMS or any other
                      person;</p>
                    <li>in the sole discretion of GEMS, use the Website in an unauthorised or improper manner; or</li>
                    <li>infringe any statute, regulation, ordinance or law.</li>
                  </ol>
                </li>
                <li>Breach of these Terms entitles GEMS to take legal action without prior notice to the user and
                  the user
                  agrees to reimburse the costs associated with such legal action to GEMS on an attorney and own
                  client scale.
                </li>
              </ol>
            </li>
            <li style="text-align: justify;"><strong>Compliance with section 43(1) of ECT Act</strong>
              <ol>
                <li>In compliance with section 43(1) of the ECT Act, the following is noted:</li>
                <p>(Insert all of the relevant information set out below)</p>

                <p>Full name: GOVERNMENT EMPLOYEES MEDICAL SCHEME</p>
                <p>Physical address: 61 ST GEORGE'S MALL, CAPE TOWN, 8001</p>
                <p>Telephone number: 0860 00 4367</p>
                <p>Fax number: 0861 00 4367</p>
                <p>Website address: www.gems.gov.za</p>
                <p>E-mail address: enquiries@gems.gov.za</p>
              </ol>
            </li>
            <li style="text-align: justify;"><strong>Compliance with laws</strong>
              <ol>
                <li>
                  You shall comply with all applicable laws, statues, ordinances and regulations pertaining to your use
                  of
                  and
                  access to this Website.
                </li>
              </ol>
            </li>
            <li style="text-align: justify;"><strong>Notices</strong>
              <ol>
                <li>The user agrees that any electronic communication (such as an SMS or email) sent by GEMS using the
                  user's
                  specified details shall be regarded as written communication to the user.</li>
                <li style="text-align: justify;">Except as explicitly stated otherwise, any notices shall be given by
                  email
                  toenquiries@gems.gov.za(in the
                  case of GEMS) or to the e-mail address you have provided to GEMS (in your case), or such other
                  address that
                  has been specified. Notice shall be deemed given 48 (forty eight) hours after an email is sent,
                  unless the
                  sending party is notified that the email address is invalid. Alternatively, GEMS may give you notice
                  by
                  registered mail, postage prepaid and return receipt requested, to the address which you have
                  provided to
                  GEMS. In such case, notice shall be deemed given 7 (seven) days after the date of mailing. You
                  acknowledge
                  that all agreements, notices or other communication required to be given in terms of the law or
                  these Terms
                  may be given via electronic means and that such communications shall be “in writing”.
                  Notwithstanding anything to the contrary, a written notice or communication actually received by a
                  party
                  shall be an adequate written notice or communication to it, notwithstanding that it was not sent to
                  or
                  delivered at its chosen address for that purpose.</li>
              </ol>
            </li>
            <li style="text-align: justify;"><strong>General clauses</strong>
              <ol>
                <li>These Terms shall be governed in all respects by the laws of the Republic of South Africa as such
                  laws are
                  applied to agreements entered into and to be performed within South Africa.</li>
                <li>The content of the Website is not intended to be financial advice and intermediary service in terms
                  of the
                  Financial Advisory and Intermediary Services Act of 2002 or medical advice. The user must consult a
                  registered Financial Services Provider in order to obtain advice relating to GEMS's products and
                  services or
                  a medical practitioner regarding his/her medical treatment.</li>
                <li>This Website is controlled, operated and administered by GEMS from its offices within the Republic
                  of South
                  Africa. GEMS makes no representation that the content of the Website is appropriate or available for
                  use
                  outside of South Africa. Access to the Website from territories or countries where the content of
                  the
                  Website is illegal is prohibited. Users may not use this Website in violation of South African laws
                  and
                  regulations. If the user accesses this Website from locations outside of South Africa, that user is
                  responsible for compliance with all local laws.</li>
                <li>GEMS does not guarantee continuous, uninterrupted or secure access to our services, as operation of
                  our
                  Website may be interfered with as a result of a number of factors which are outside of our control.
                </li>
                <li>If any provision of these Terms is held to be illegal, invalid or unenforceable for any reason, such
                  provision shall be struck out from these Terms and the remaining provisions shall be enforced to the
                  full
                  extent of the law.</li>
                <li>GEMS’s failure to act with respect to a breach by you or others does not constitute a waiver
                  of our
                  right to act with respect to subsequent or similar breaches.</li>
                <li>The views and opinions expressed in this website, links or attachments hereto do not necessarily
                  reflect the
                  views and/or opinions of GEMS.</li>
                <li>You shall not be entitled to cede your rights or assign your rights or delegate your obligations in
                  terms of
                  these Terms to any third party without the prior written consent of GEMS.</li>
                <li>No party shall be bound by any express or implied term, representation, warranty, promise or the
                  like not
                  recorded herein, whether it induced the contract and/or whether it was negligent or not.</li>
                <li>The head notes to the paragraphs to these Terms are inserted for reference purposes only and shall
                  not
                  affect the interpretation of any of the provisions to which they relate.</li>
                <li>Words importing the singular shall include the plural and<em>vice versa</em>, and words importing
                  the
                  masculine gender shall include females and words importing persons shall include partnerships and
                  corporate
                  and unincorporated entities.</li>
                <li>These Terms set forth the entire understanding and agreement between GEMS and you with respect to
                  the
                  subject matter hereof.</li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
