<app-ivs-heading title="Update Profile" backLink="/member-profile/{{idNumber}}" viewFromShow=''></app-ivs-heading>

<nav class="bg-white border-b border-gray-200 flex" aria-label="Breadcrumb">
  <ol class="max-w-screen-xl w-full mx-auto px-4 flex space-x-4 sm:px-6 lg:px-8">
    <li class="flex">
      <div class="flex items-center">
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <!-- Heroicon name: solid/home -->
          <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
          </svg>
          <span class="sr-only">Home</span>
        </a>
      </div>
    </li>

    <li class="flex">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a routerLink="/dashboard" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Dashboard</a>
      </div>
    </li>

    <li class="flex">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a routerLink='/member-profile/{{idNumber}}' href="javascript:void" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700"
          aria-current="page">Member Profile</a>
      </div>
    </li>
    <li class="flex">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a href="javascript:void" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700"
          aria-current="page">{{idNumber}}</a>
      </div>
    </li>
  </ol>
</nav>

<div class="p-4 px-10 md:px-28">
  <div class="py-4 mt-6">


    <div class="w-full md:w-1/2 md:px-2 inline-block">
      <mat-form-field appearance="outline">
        <mat-label>Employer</mat-label>
        <input matInput placeholder="Employer" type="text" required [(ngModel)]="employer" value="{{employer}}">
        <mat-icon matSuffix>store</mat-icon>
        <mat-error>Employer is required</mat-error>
      </mat-form-field>
    </div>

    <div class="w-full md:w-1/2 md:px-2 inline-block">
      <mat-form-field appearance="outline">
        <mat-label>Scheme Name</mat-label>
        <input matInput placeholder="Scheme Name" type="text" required [(ngModel)]="schemeName" value="{{schemeName}}">
        <mat-icon matSuffix>store</mat-icon>
        <mat-error>Scheme Name is required</mat-error>
      </mat-form-field>
    </div>

<!-- 
    <div class="w-full md:w-1/2 md:px-2 inline-block">
      <mat-form-field appearance="outline">
        <mat-label>Select Scheme Name</mat-label>
        <input type="text" placeholder="Select your Scheme Name *" aria-label="Select your Scheme Name" matInput
          [matAutocomplete]="auto" required name="schemeName" ngModel #schemeNameInput="ngModel" schemeName >
        <mat-error>Scheme Name is required</mat-error>
        <mat-icon matSuffix>meeting_room</mat-icon>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredSchemesOptions | async" [value]="option ">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div> -->



    <div class="w-full md:w-1/2 md:px-2 inline-block">
      <mat-form-field appearance="outline">
        <mat-label>Member Number</mat-label>
        <input matInput placeholder="Member Number" type="text" required [(ngModel)]="memberNumber"
          value="{{memberNumber}}">
        <mat-icon matSuffix>store</mat-icon>
        <mat-error>Member Number is required</mat-error>
      </mat-form-field>
    </div>


    <div class="w-full md:w-1/2 md:px-2 inline-block">
      <mat-form-field appearance="outline">
        <mat-label>Position</mat-label>
        <input matInput placeholder="Position" type="text" required [(ngModel)]="position" value="{{position}}">
        <mat-icon matSuffix>store</mat-icon>
        <mat-error>Position is required</mat-error>
      </mat-form-field>
    </div>


    <div class="w-full md:w-1/2 md:px-2 inline-block">
      <mat-form-field appearance="outline">
        <mat-label>Province</mat-label>
        <input matInput placeholder="Province" type="text" required [(ngModel)]="province" value="{{province}}">
        <mat-icon matSuffix>store</mat-icon>
        <mat-error>Province is required</mat-error>
      </mat-form-field>
    </div>



    <div class="w-full md:w-1/2 md:px-2 inline-block">
      <mat-form-field appearance="outline">
        <mat-label>Mobile</mat-label>
        <input matInput placeholder="Mobile Number" type="text" required [(ngModel)]="mobileNumber" value="{{mobileNumber}}">
        <mat-icon matSuffix>store</mat-icon>
        <mat-error>Mobile Number is required</mat-error>
      </mat-form-field>
    </div>

   <div class="w-full md:w-full md:px-2 inline-block">
    <button mat-raised-button type="button" color="primary" (click)="update()">Update</button>
    </div>
  </div>
</div>
