<app-ivs-heading title="Inoculation" backLink="/dashboard"></app-ivs-heading>


<div *ngIf="!isLoading" class="">
  <!--CONTAINER-->

  <div class="w-full flex bg-gray-200">
    <div class="w-full sm:w-full lg:w-full m-4 p-4 bg-white">
      <!-- <span class="font-bold text-2xl">Inoculation</span>
      <hr class="mt-4"> -->

      <div class="pb-4">
        <form #inoculateForm="ngForm" (submit)="inoculatePatient(inoculateForm)">

          <div class="w-full md:w-1/2 md:px-2 inline-block custom">
            <mat-form-field appearance="outline">
              <mat-label><span class="title">Vaccination Site</span><span class="subTitle">
                  {{vaccinationSiteNameCookie}}</span></mat-label>
              <input matInput name="vaccinationSiteId" ngModel #vaccinationSiteIdInput="ngModel"
                value="{{vaccinationSiteIDCookie}}" vaccinationSiteId disabled required>
            </mat-form-field>
          </div>

          <div class="w-full md:w-1/2 inline-block custom">
            <mat-form-field appearance="outline">
              <mat-label><span class="title">Vaccinated By</span> <span class="subTitle">Systems</span></mat-label>
              <input matInput name="vaccinatorid" ngModel #vaccinatoridInput="ngModel" value="{{vaccinatorid}}"
                vaccinatorid disabled required>
            </mat-form-field>
          </div>


          <!-- <div class="w-full md:w-1/2 md:px-2 inline-block custom">
            <mat-form-field appearance="outline">
              <mat-label><span class="title">Vaccine Dosage Required</span> <span class="subTitle">{{doseNumber}}</span>
              </mat-label>
              <input matInput name="doseNumber" ngModel #doseNumberInput="ngModel"  doseNumber disabled required>
            </mat-form-field>
          </div> -->

          <div class="w-full md:w-1/2 md:px-2 inline-block custom">
            <mat-form-field appearance="outline">
              <mat-label><span class="title">Current Number of Vaccines Received</span> <span class="subTitle">{{this.howManyTimesUserHasBeenDosed}}</span>
              </mat-label>
              <input matInput name="howManyTimesUserHasBeenDosed" ngModel #howManyTimesUserHasBeenDosedInput="ngModel" howManyTimesUserHasBeenDosed disabled required>
            </mat-form-field>
          </div>
          <br>



          <div class="w-full">
            <div class="w-full md:w-1/2 md:pr-2  inline-block mt-5">
              <mat-form-field appearance="fill">
                <mat-label>Select Vaccine</mat-label>
                <input type="text" placeholder="Select vaccine" aria-label="Select vaccine" matInput
                  [formControl]="myControl" [matAutocomplete]="auto" required>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option.vaccineName">
                    {{option.vaccineName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>


        </form>
      </div>

      <div class="mx-2">
        <button mat-raised-button color="primary" (click)="inoculatePatient(inoculateForm)">Inoculate
        </button>
      </div>


      <!--/CONTAINER-->
    </div>
  </div>




    <!-- LOADER-->
    <div class="h-screen w-full flex items-center justify-center" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>



