<div *ngIf="!isLoading" class="p-4 px-10 md:px-28">
  <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="IVSTabIndex">
    <mat-tab [disabled]='IVSTabIndex < 0' label="Inoculation">
      <div class="py-4">
        <form #inoculateForm="ngForm" (submit)="inoculatePatient(inoculateForm)" class="mt-6">


          <div class="w-full md:w-1/2 md:px-2 inline-block">
            <mat-form-field appearance="outline">
              <mat-label>Member ID = {{userID}}</mat-label>
              <input matInput name="userID" ngModel #userIDInput="ngModel" value="{{userID}}"
                     userId disabled>
            </mat-form-field>
          </div>

          <div class="w-full md:w-1/2 md:px-2 inline-block">
            <mat-form-field appearance="outline">
              <mat-label>Vaccination Site ID = {{vaccinationSiteId}} [Dischem Midrand] </mat-label>
              <input matInput name="vaccinationSiteId" ngModel #vaccinationSiteIdInput="ngModel"
                     value="{{vaccinationSiteId}}" vaccinationSiteId disabled>
            </mat-form-field>
          </div>

          <div class="w-full md:w-1/2 md:px-2 inline-block">
            <mat-form-field appearance="outline">
              <mat-label>Vaccinated By = Systems</mat-label>
              <input matInput name="vaccinatorid" ngModel #vaccinatoridInput="ngModel"
                     value="{{vaccinatorid}}" vaccinatorid disabled>
              <mat-icon matSuffix>admin_panel_settings</mat-icon>
            </mat-form-field>
          </div>


          <div class="w-full md:w-1/2 md:px-2 inline-block">
            <mat-form-field appearance="outline">
              <mat-label>Dose Number</mat-label>
              <input matInput placeholder="Dosage" name="dosageNumber" ngModel #dosageNumberInput="ngModel" required
                     dosage disabled>
              <mat-icon matSuffix>tag</mat-icon>
              <mat-error *ngIf="dosageNumberInput.hasError('required')">Dosage Number</mat-error>
            </mat-form-field>
          </div>

          <div class="w-full md:w-1/2 md:px-2 inline-block">
            <mat-form-field appearance="outline">
              <mat-label>Dosage</mat-label>
              <input matInput placeholder="Dosage (ml)" name="dosage" ngModel #dosageInput="ngModel" required
                     dosage>
              <mat-icon matSuffix>medication</mat-icon>
              <mat-error *ngIf="dosageInput.hasError('required')">Dosage</mat-error>
            </mat-form-field>
          </div>


        </form>
      </div>

      <div class="mx-2">
        <button mat-raised-button color="primary" (click)="inoculatePatient(inoculateForm)">Inoculate
        </button>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>

<div class="h-screen w-full flex items-center justify-center" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

