<mat-sidenav-container>
  <mat-sidenav class="side-navigation" #sidenav role="navigation">
    <mat-nav-list>
      <a routerLink="/dashboard" mat-list-item (click)="sidenav.toggle()">
        <!-- <mat-icon>home</mat-icon> -->
        Dashboard</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


    <div *ngIf="(isLoggedIn | async) === false">
      <ivs-navbar></ivs-navbar>
    </div>

    <div *ngIf="(isLoggedIn | async)">
      <mat-toolbar class="bg-white">
        <div class="block md:hidden lg:hidden xl:hidden">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <span routerLink="/dashboard" class="cursor-pointer"><img class="h-full w-28" src="assets/img/gems-ivs-logo.png"
            alt=""></span>
        <span class="ivs-spacer"></span>

        <button mat-button aria-label="" routerLink="/dashboard" routerLinkActive="text-blue-700">
          Dashboard
        </button>

        <button mat-button aria-label="" routerLink="/register" routerLinkActive="text-blue-700">
          Register New Patient
        </button>
        <button mat-button aria-label="" routerLink="/vaccination-history" routerLinkActive="text-blue-700">
          Vaccination History
        </button>
        <button mat-button aria-label="" routerLink="/admin-profile" routerLinkActive="text-blue-700">
          My Profile
        </button>
        <button mat-icon-button class="example-icon" aria-label="" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>

      </mat-toolbar>
      <img src="assets/img/gems-border-line2.png" alt="" class="w-full h-1">
    </div>

    <router-outlet></router-outlet>
    <ivs-footer></ivs-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
