<div class="w-full bg-gray-800 px-8 py-8 flex items-center">

  <div class="text-2xl">

  </div>

</div>


<form #feedbackForm="ngForm" (submit)="postFeedback(feedbackForm)" >
  <div class="p-4 px-16 md:px-40 mt-6">
    <div class="w-full md:w-full md:px-2 inline-block">

      <mat-form-field appearance="fill">
        <mat-label>ID Number/Passport</mat-label>
        <input matInput placeholder="ID Number" name="idNumber" ngModel #idNumberInput="ngModel" required idNumber
          (ngModelChange)="checkIfIDExists($event)">
        <mat-icon *ngIf="registered" class="text-green-600" matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-icon *ngIf="!registered" class="text-red-600" matSuffix>sentiment_very_dissatisfied</mat-icon>


        <mat-error *ngIf="idNumberInput.hasError('required')">ID Number is required </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="registered">
      <div class="w-full md:w-full md:px-2 inline-block">
        <mat-form-field appearance="fill" hideRequiredMarker="false" floatLabel="Allergies & Chronic Medication">
          <mat-select [(ngModel)]="feedbackOption" (ngModelChange)="checkSelectedFeedbackOption($event)" required name="feedbackOption">
            <mat-option>Please Select</mat-option>
            <mat-option value="vaccination">Vaccination Feedback</mat-option>
            <mat-option value="general">General Feedback</mat-option>
          </mat-select>
          <mat-label>Select Feedback Category</mat-label>
        </mat-form-field>
      </div>




      <div *ngIf='firstName' class="w-full md:w-1/2 md:px-2 inline-block">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" [value]='firstName' name="fullName">

        </mat-form-field>
      </div>

      <div *ngIf='lastName' class="w-full md:w-1/2 md:px-2 inline-block">
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" [value]='lastName' name="lastName">

        </mat-form-field>
      </div>

      <div *ngIf="showDoctorFields">
        <div class="w-full md:w-1/2 md:px-2 inline-block">
          <mat-form-field appearance="fill">
            <mat-label>Doctor Name</mat-label>
            <input matInput placeholder="Doctor Name" name="doctorName" ngModel #doctorNameInput="ngModel" required
              doctorName>
            <mat-error *ngIf="doctorNameInput.hasError('required')">Doctor Name is required</mat-error>
          </mat-form-field>
        </div>

        <div class="w-full md:w-1/2 md:px-2 inline-block">
          <mat-form-field appearance="fill">
            <mat-label>Doctor Number</mat-label>
            <input matInput placeholder="Doctor Number" name="doctorNumber" ngModel #doctorNumberInput="ngModel"
              required doctorNumber type="tel">
            <mat-error *ngIf="doctorNameInput.hasError('required')">Doctor Number is required</mat-error>
          </mat-form-field>
        </div>


        <div class="w-full md:w-full md:px-2 inline-block">
          <div class="upload_file">
            <mat-form-field>
              <div>
                <mat-toolbar>

                  <input matInput [(ngModel)]="fileAttr" readonly name="name" />


                  <button mat-flat-button color="primary">
                    Browse File
                  </button>
                </mat-toolbar>


                <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
                  multiple="multiple" accept="image/*" />
              </div>
            </mat-form-field>
          </div>
        </div>

      </div>

      <div class="w-full md:w-full md:px-2 inline-block">
        <mat-form-field appearance="fill">
          <mat-label>Feedback Text</mat-label>
          <textarea matInput placeholder="Feedback" name="feedback" ngModel #feedbackInput="ngModel" required
            feedback></textarea>
          <mat-error *ngIf="feedbackInput.hasError('required')">Feedback is required</mat-error>
        </mat-form-field>
      </div>

      <div class="mx-2">
        <button mat-raised-button color="primary" type="submit">Submit Feedback</button>
      </div>
    </div>
  </div>
</form>
