<div class="mx-10 mt-10">

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- First Name Column -->
      <ng-container matColumnDef="dosageRecieved">
        <th mat-header-cell *matHeaderCellDef> Dosage Received </th>
        <td mat-cell *matCellDef="let element"> {{element.dosageRecieved}} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="inoculatedOn">
        <th mat-header-cell *matHeaderCellDef> Inoculated On </th>
        <td mat-cell *matCellDef="let element"> {{element.inoculatedOn | date: 'fullDate'}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div style="height: 100px;"></div>
