<app-ivs-heading title="Vaccination History" backLink="/dashboard" viewFromShow='true'></app-ivs-heading>

<nav class="bg-white border-b border-gray-200 flex" aria-label="Breadcrumb">
  <ol class="max-w-screen-xl w-full mx-auto px-4 flex space-x-4 sm:px-6 lg:px-8">
    <li class="flex">
      <div class="flex items-center">
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <!-- Heroicon name: solid/home -->
          <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
          </svg>
          <span class="sr-only">Home</span>
        </a>
      </div>
    </li>

    <li class="flex">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a routerLink="/dashboard" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Dashboard</a>
      </div>
    </li>

    <li class="flex">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a href="javascript:void" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700"
          aria-current="page">Vaccination History</a>
      </div>
    </li>
  </ol>
</nav>

<div class="max-w-3xl mx-auto px-4 mt-6 sm:px-6 md:space-x-5 lg:max-w-7xl lg:px-8">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Full Name Column -->
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef> Full Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
      </ng-container>

      <!-- Vaccine Name Column -->
      <ng-container matColumnDef="vaccineName">
        <th mat-header-cell *matHeaderCellDef> Vaccine name </th>
        <td mat-cell *matCellDef="let element"> {{element.vaccineName}} </td>
      </ng-container>

      <!-- Vaccine Date Column -->
      <ng-container matColumnDef="vaccinatedDate">
        <th mat-header-cell *matHeaderCellDef> Vaccine Date </th>
        <td mat-cell *matCellDef="let element"> {{element.vaccinatedDate}} </td>
      </ng-container>

      <!-- Site Location Column -->
      <ng-container matColumnDef="siteLocation">
        <th mat-header-cell *matHeaderCellDef> Site Location </th>
        <td mat-cell *matCellDef="let element"> {{element.siteLocation}} </td>
      </ng-container>

      <!-- Site Province Column -->
      <ng-container matColumnDef="siteProvince">
        <th mat-header-cell *matHeaderCellDef> Site Province </th>
        <td mat-cell *matCellDef="let element"> {{element.siteProvince}} </td>
      </ng-container>
      


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
  </div>

<div style="height: 100px;"></div>
