<div class="w-full bg-gray-200">
  <span *ngIf="url != undefined" class="cursor-pointer text-blue-500 font-semibold flex text-s py-3 px-4 w-full"
    [routerLink]="url"><span class="inline-block font-semibold">
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg></span>

    <span class="inline-block">Back</span>
  </span>
</div>
