<app-ivs-heading title="Registration" backLink="/landing" viewFromShow=''></app-ivs-heading>

<nav class="bg-white border-b border-gray-200 flex" aria-label="Breadcrumb">
  <ol class="max-w-screen-xl w-full mx-auto px-4 flex space-x-4 sm:px-6 lg:px-8">
    <li class="flex">
      <div class="flex items-center">
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <!-- Heroicon name: solid/home -->
          <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
          </svg>
          <span class="sr-only">Home</span>
        </a>
      </div>
    </li>

    <li class="flex">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a routerLink="/dashboard" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Dashboard</a>
      </div>
    </li>

    <li class="flex">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a href="javascript:void" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700"
          aria-current="page">Register patient</a>
      </div>
    </li>
  </ol>
</nav>


<div *ngIf="!isLoading && screenmode === 0" class="p-4 px-10 md:px-28">
  <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="IVSTabIndex">
    <mat-tab [disabled]='IVSTabIndex < 0' label="Registration Details">
      <div class="py-4">
        <form #registerForm="ngForm" class="mt-6" (ngSubmit)='registerPatient(registerForm, $event)'>



          <div class="w-full md:w-full md:px-2 inline-block">
            <mat-form-field appearance="fill" hideRequiredMarker="false" floatLabel="Are you a GEMS member?">
              <mat-select required>
                <mat-option>Please Select</mat-option>
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
              <mat-label>Are you a GEMS member?</mat-label>
            </mat-form-field>
          </div>


          <div class="w-full md:w-full md:px-2 inline-block">
            <mat-form-field appearance="fill" hideRequiredMarker="false" floatLabel="Are you a GEMS member?">
              <mat-select [(ngModel)]="identificationType" (ngModelChange)="checkIdentificationType($event)" name="identificationType" required>
                <mat-option  >Please Select</mat-option>
                <mat-option value="SAid">South African ID</mat-option>
                <mat-option value="passport">Passport</mat-option>
              </mat-select>
              <mat-label>Please Select Identification Type</mat-label>
            </mat-form-field>
          </div>



          <div class="w-full md:w-full md:px-2 inline-block" *ngIf='displayIdInputField'>
            <mat-form-field appearance="fill">
              <mat-label>{{identificationPlaceholder}}</mat-label>
              <input matInput [placeholder]="identificationPlaceholder" name="idNumber" ngModel #idNumberInput="ngModel" required idNumber
                (ngModelChange)="checkIfIDExists($event)">
              <mat-icon *ngIf="userExists" class="text-green-600" matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="idNumberInput.hasError('required')">{{identificationPlaceholder}} is required </mat-error>
            </mat-form-field>
          </div>
          <div class="px-2" *ngIf="registered">
            <div class="w-full md:w-full md:px-2 inline-block p-4 bg-red-600">
              <span class="text-white">User already registered</span>
            </div>
            <div class="w-full md:w-full  inline-block py-4 ">
              <button type="button" [routerLink]="['/otp-user-check', this.foundPatient?.idNumber]"
              class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500">
              Edit profile
            </button>
            </div>
          </div>



          <div class="w-full md:w-1/2 md:px-2 inline-block" *ngIf="!registered && isIDValid">
            <mat-form-field appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name" name="firstName" ngModel #firstNameInput="ngModel" required
                firstName [disabled]="userExists">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="firstNameInput.hasError('required')">First Name is required</mat-error>
            </mat-form-field>
          </div>


          <div class="w-full md:w-1/2 md:px-2 inline-block" *ngIf="!registered && isIDValid">
            <mat-form-field appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name" name="lastName" ngModel #lastNameInput="ngModel" required lastName
                [disabled]="userExists">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="lastNameInput.hasError('required')">Last Name is required</mat-error>
            </mat-form-field>
          </div>

          <div class="w-full md:w-1/2 md:px-2 inline-block" *ngIf="!registered && isIDValid">
            <mat-form-field appearance="fill">
              <mat-label>Date of Birth</mat-label>
              <input matInput placeholder="Date of Birth" name="dob" ngModel #dobInput="ngModel" required dob
                [disabled]="userExists" type="date" [value]="DOB">
              <mat-error *ngIf="dobInput.hasError('required')">Date of Birth is required</mat-error>
            </mat-form-field>
          </div>


          <div class="w-full md:w-1/2 md:px-2 inline-block" *ngIf="!registered && isIDValid">
            <mat-form-field appearance="fill">
              <mat-label>Select Province</mat-label>
              <input type="text" placeholder="Select your Province *" aria-label="Select your Province" matInput
                [formControl]="provincesControl" [matAutocomplete]="auto" required>
              <mat-error>Scheme is required</mat-error>
              <mat-icon matSuffix>meeting_room</mat-icon>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredProvinceOptions | async" [value]="option.name">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="w-full md:w-1/2 md:px-2 inline-block" *ngIf="!registered && isIDValid">
            <mat-form-field appearance="fill">
              <mat-label>Select Location</mat-label>
              <input type="text" placeholder="Select your location *" aria-label="Select your location" matInput
                [formControl]="myControl" [matAutocomplete]="auto" required  >
              <mat-error>Location is required</mat-error>
              <mat-icon matSuffix>my_location</mat-icon>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" [disabled]='provincePicked'>
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>



          <div class="w-full md:w-1/2 md:px-2 inline-block" *ngIf="!registered && isIDValid">
            <mat-form-field appearance="fill">
              <mat-label>Employer</mat-label>
              <input matInput placeholder="Employer" type="text" name="employer" ngModel #employerInput="ngModel"
                required employer [disabled]="userExists">
              <mat-icon matSuffix>store</mat-icon>
              <mat-error *ngIf="employerInput.hasError('required')">Employer is required</mat-error>
            </mat-form-field>
          </div>
          <div class="w-full md:w-1/2 md:px-2 inline-block" *ngIf="!registered && isIDValid">
            <mat-form-field appearance="fill">
              <mat-label>Position</mat-label>
              <input matInput placeholder="Position" type="text" name="position" ngModel #positionInput="ngModel"
                required position [disabled]="userExists">
              <mat-icon matSuffix>business_center</mat-icon>
              <mat-error *ngIf="positionInput.hasError('required')">Current Position is required</mat-error>
            </mat-form-field>
          </div>
          <div class="w-full md:w-1/2 md:px-2 inline-block" *ngIf="!registered && isIDValid">
            <mat-form-field appearance="fill">
              <mat-label>Member Number</mat-label>
              <input matInput placeholder="Member Number" min="0" name="memberNumber" ngModel #memberNumberInput="ngModel" required memberNumber [disabled]="userExists">
              <mat-icon matSuffix>local_hospital</mat-icon>
              <mat-error *ngIf="memberNumberInput.hasError('required')">Member Number is required</mat-error>
            </mat-form-field>
          </div>

          <div class="w-full md:w-1/2 md:px-2 inline-block" *ngIf="!registered && isIDValid">
            <mat-form-field appearance="fill">
              <mat-label>Mobile Number</mat-label>
              <input matInput placeholder="Mobile Number" name="mobileNumber" ngModel #mobileNumberInput="ngModel"
                required mobileNumber [disabled]="userExists">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error *ngIf="mobileNumberInput.hasError('required')">Mobile number is required</mat-error>
            </mat-form-field>
          </div>


          <div class="w-full md:w-1/2 md:px-2 inline-block" *ngIf="!registered && isIDValid">
            <mat-form-field appearance="fill">
              <mat-label>Email Address</mat-label>
              <input matInput placeholder="Email Address" name="emailAddress" ngModel #emailAddressInput="ngModel"
                required emailAddress [disabled]="userExists">
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="emailAddressInput.hasError('required')">Email address is required</mat-error>
            </mat-form-field>
          </div>



          <div class="w-full md:w-1/2 md:px-2 inline-block" *ngIf="!registered && isIDValid">
            <mat-form-field appearance="fill">
              <mat-label>Select Scheme</mat-label>
              <input type="text" placeholder="Select your Scheme *" aria-label="Select your Scheme" matInput
                [formControl]="schemesControl" [matAutocomplete]="auto" required>
              <mat-error>Scheme is required</mat-error>
              <mat-icon matSuffix>meeting_room</mat-icon>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredSchemesOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>



          <div class="w-full md:w-1/2 md:px-2 inline-block" *ngIf="!registered && isIDValid">
            <mat-form-field appearance="fill" hideRequiredMarker="false" floatLabel="Are you a Front-Line Worker?">
              <mat-select required>
                <mat-option>Please Select</mat-option>
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
              <mat-label>Are you a Front-Line Worker?</mat-label>
            </mat-form-field>
          </div>


          <div id="medicalHistory" *ngIf="!registered && isIDValid" class="w-full md:w-1/2 md:px-2 inline-block">
            <mat-form-field appearance="fill" hideRequiredMarker="false" floatLabel="Allergies & Chronic Medication">
              <mat-select [(ngModel)]="allergies" (ngModelChange)="doesPatientHaveAllergies($event)" name="allergies" required>
                <mat-option>Please Select</mat-option>
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
              <mat-label>Allergies & Chronic Medication</mat-label>
            </mat-form-field>

            <div class="w-full md:w-full block" *ngIf="allergies === 'yes'">
              <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description" name="allergiesDescription"
                  [(ngModel)]="allergiesDescription"></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>

      <!-- <div class="mx-2">
        <button *ngIf="!registered && isIDValid" mat-raised-button type="button" color="primary"
          (click)="checkValidation(registerForm)">Continue</button>
      </div> -->


      <div class="mx-2" *ngIf="!registered && isIDValid">
        <button mat-raised-button color="primary" (click)="registerPatient(registerForm, $event)" type="button">Complete Registration</button>
      </div>


    </mat-tab>
    <!-- <mat-tab [disabled]='IVSTabIndex < 1' label="Medical History"> -->
    <!-- <mat-form-field appearance="fill" hideRequiredMarker="false" floatLabel="Allergies & Chronic Medication">
        <mat-select [(ngModel)]="allergies" (ngModelChange)="doesPatientHaveAllergies($event)" required>
          <mat-option>Please Select</mat-option>
          <mat-option value="yes">Yes</mat-option>
          <mat-option value="no">No</mat-option>
        </mat-select>
        <mat-label>Allergies & Chronic Medication</mat-label>
      </mat-form-field> -->

    <!-- <div class="w-full md:w-full block" *ngIf="allergies === 'yes'">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" name="description" [(ngModel)]="allergiesDescription"></textarea>
        </mat-form-field>
      </div> -->
    <!-- <div class="mx-2">
        <button mat-raised-button color="primary" (click)="registerPatient(registerForm)">Complete Registration</button>
      </div>
    </mat-tab> -->
    <!-- <mat-tab [disabled]='IVSTabIndex < 2' label="Personal Details">
      <button mat-raised-button color="accent" (click)="navToTab()">Tab Demo 1!</button>
    </mat-tab>
    <mat-tab [disabled]='IVSTabIndex < 3' label="Medical History">
      <button mat-raised-button color="accent" (click)="navToTab()">Tab Demo 1!</button>
    </mat-tab> -->
  </mat-tab-group>
</div>

<div class="h-screen w-full flex items-center justify-center" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div style="height: 100px;"></div>
