<div class="w-full bg-gray-800 px-8 py-8 flex items-center">

  <div class="text-2xl">
    <span class="text-gray-200 font-light tracking-wide">Welcome,</span>
    <span class="text-gray-200 font-bold tracking-wide"> User</span>
  </div>

</div>


<div class="h-screen w-full flex items-center justify-center" *ngIf="!patientData">
  <mat-spinner></mat-spinner>
</div>



<div *ngIf="patientData" class="w-full flex bg-gray-200">
  <div class="w-full sm:w-full lg:w-1/2 m-4 p-4 bg-white">
    <span class="font-bold text-2xl">Personal Details</span>
    <hr class="mt-4">
    <div class="inline-block w-1/2">
      <span class="profile-title">ID Number</span>
      <span class="profile-desc">{{patientData.idNumber}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">First Name</span>
      <span class="profile-desc">{{patientData.firstName}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Last Name</span>
      <span class="profile-desc">{{patientData.lastName}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Email Address</span>
      <span class="profile-desc">{{patientData.emailAddress || 'N/A'}}</span>
    </div>
    
    <div class="inline-block w-1/2">
      <span class="profile-title">Mobile Number</span>
      <span class="profile-desc">{{patientData.mobileNumber}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Scheme Name</span>
      <span class="profile-desc">{{patientData.schemeName}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Employer</span>
      <span class="profile-desc">{{patientData.employer}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Allergies</span>
      <span class="profile-desc">{{patientData.allergies}}</span>
    </div>
    
    
</div>
<div class="w-full sm:w-full  lg:w-1/2 m-4 p-4 bg-white">
  <span class="font-bold text-2xl">Vaccination History</span>
    <hr class="mt-4">
    <div class="inline-block w-1/2">
      <span class="profile-title">Innoculated on:</span>
      <span class="profile-desc">{{patientVaccinationInfo?.inoculatedOn | date:"fullDate"}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Number of doses</span>
      <span class="profile-desc">{{patientVaccinationInfo?.doseNumber}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Dosage Received</span>
      <span class="profile-desc">{{patientVaccinationInfo?.dosageRecieved}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Feedback</span>
      <span class="profile-desc">{{patientVaccinationInfo?.feedBack}}</span>
    </div>

    <!-- <a *ngIf="patientData"
          class="flex w-1/2 mx-auto text-white bg-blue-500 border-0 py-2 px-6 mt-5 focus:outline-none hover:bg-blue-600 rounded-full text-sm justify-center"
          routerLink="/inoculate" [queryParams]="{userID:patientData?.idNumber, memberId: patientVaccinationInfo?.memberId}">New Inoculation
        </a> -->

        <a *ngIf="patientData"
        class="flex w-1/2 mx-auto text-white bg-blue-500 border-0 py-2 px-6 mt-5 focus:outline-none hover:bg-blue-600 rounded-full text-sm justify-center"
        [routerLink]="['/inoculate', patientData?.id]">New Inoculation
      </a>

      <!-- <p>{{patientVaccinationInfo?.idNumber}}</p> -->
    
</div>
</div>


<div style="height: 100px"></div>

