<app-ivs-heading title="Member Profile" backLink="/dashboard" viewFromShow='true'></app-ivs-heading>



<nav class="bg-white border-b border-gray-200 flex" aria-label="Breadcrumb">
  <ol class="max-w-screen-xl w-full mx-auto px-4 flex space-x-4 sm:px-6 lg:px-8">
    <li class="flex">
      <div class="flex items-center">
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <!-- Heroicon name: solid/home -->
          <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
          </svg>
          <span class="sr-only">Home</span>
        </a>
      </div>
    </li>

    <li class="flex">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a routerLink="/dashboard" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Dashboard</a>
      </div>
    </li>

    <li class="flex">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a href="javascript:void" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700"
          aria-current="page">Member Profile</a>
      </div>
    </li>
  </ol>
</nav>


<div class="h-screen w-full flex items-center justify-center" *ngIf="!patientData">
  <mat-spinner></mat-spinner>
</div>





<!-- <div *ngIf="patientData" class="w-full flex bg-gray-200">
  <div class="w-full sm:w-full lg:w-1/2 m-4 p-4 bg-white">
    <span class="font-bold text-2xl">Personal Details</span>
    <hr class="mt-4">
    <div class="inline-block w-1/2">
      <span class="profile-title">ID Number</span>
      <span class="profile-desc">{{patientData.idNumber}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">First Name</span>
      <span class="profile-desc">{{patientData.firstName}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Last Name</span>
      <span class="profile-desc">{{patientData.lastName}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Email Address</span>
      <span class="profile-desc">{{patientData.emailAddress || 'N/A'}}</span>
    </div>

    <div class="inline-block w-1/2">
      <span class="profile-title">Mobile Number</span>
      <span class="profile-desc">{{patientData.mobileNumber}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Scheme Name</span>
      <span class="profile-desc">{{patientData.schemeName}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Employer</span>
      <span class="profile-desc">{{patientData.employer}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Allergies</span>
      <span class="profile-desc">{{patientData.allergies}}</span>
    </div>


</div>
<div class="w-full sm:w-full  lg:w-1/2 m-4 p-4 bg-white">
  <span class="font-bold text-2xl">Vaccination History</span>
    <hr class="mt-4">
    <div class="inline-block w-1/2">
      <span class="profile-title">Innoculated on:</span>
      <span class="profile-desc">{{patientVaccinationInfo?.inoculatedOn | date:"fullDate"}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Number of doses</span>
      <span class="profile-desc">{{patientVaccinationInfo?.doseNumber}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Dosage Received</span>
      <span class="profile-desc">{{patientVaccinationInfo?.dosageRecieved}}</span>
    </div>
    <div class="inline-block w-1/2">
      <span class="profile-title">Feedback</span>
      <span class="profile-desc">{{patientVaccinationInfo?.feedBack}}</span>
    </div>


      <div class="inline-block w-1/2 mt-32">
      <button *ngIf="patientData" mat-raised-button color="primary"
      class="flex w-full mx-auto text-white bg-blue-500 border-0 py-2 px-6 mt-5 text-sm justify-center"
      [routerLink]="['/inoculate', patientData?.id , patientData?.idNumber]">New Inoculation
      </button>
</div>



</div>
</div> -->


<main *ngIf="patientData" class="py-10">
  <!-- Page header -->
  <div
    class="max-w-3xl mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">




    <div class="flex items-center space-x-5">
      <div class="flex-shrink-0">
        <div class="relative">
          <img class="h-16 w-16 rounded-full" src="assets/img/gem_logo.png" alt="">
          <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>
        </div>
      </div>
      <div>
        <h1 class="text-2xl font-bold text-gray-900">{{patientData.firstName}} {{patientData.lastName}}</h1>
        <!-- <p class="text-sm font-medium text-gray-500">Applied for <a href="#" class="text-gray-900">Front End Developer</a> on <time datetime="2020-08-25">August 25, 2020</time></p> -->
      </div>
    </div>
    <div
      class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
      <!-- <button type="button" class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500">
        Disqualify
      </button> -->
      <button type="button" [routerLink]="['/member-profile-edit', patientData?.idNumber]"
        class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500">
        Edit profile
      </button>
    </div>
  </div>

  <div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
    <div class="space-y-6 lg:col-start-1 lg:col-span-2">
      <!-- Description list-->
      <section aria-labelledby="applicant-information-title">
        <div class="bg-white shadow sm:rounded-lg">
          <div class="px-4 py-5 sm:px-6">
            <h2 id="applicant-information-title" class="text-lg leading-6 font-medium text-gray-900">
              Applicant Information
            </h2>
            <!-- <p class="mt-1 max-w-2xl text-sm text-gray-500">
              Personal details and application.
            </p> -->
          </div>
          <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  ID / Passport Number
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{patientData.idNumber}}
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  First Name
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{patientData.firstName}}
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Last Name
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{patientData.lastName}}
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Email Address
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{patientData.emailAddress}}
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Mobile Number
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{patientData.mobileNumber}}
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Scheme Name
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{patientData.schemeName}}
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Employer
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{patientData.employer}}
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Allergies
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <span *ngIf="patientData.allergies">Yes</span> <span *ngIf="!patientData.allergies">No</span>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </section>

    </div>

    <section aria-labelledby="timeline-title" class="lg:col-start-3 lg:col-span-1">
      <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6">
        <h2 id="timeline-title" class="text-lg font-medium text-gray-900">Vaccination History</h2>

        <!-- Activity Feed -->
        <div class="mt-6 flow-root">

          <div class="border-t border-gray-200 py-5">

            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
               Innoculated on
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{patientVaccinationInfo?.inoculatedOn | date:"fullDate"}}
                </dd>
              </div>
            </dl>

            <!-- <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Number of doses
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{patientVaccinationInfo?.doseNumber}}
                </dd>
              </div>
            </dl> -->

            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Dosages Received
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{howManyTimesUserHasBeenDosed}}
                </dd>
              </div>
            </dl>
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Feedback
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <ul>
                    <li *ngFor="let i of patientFeedBack">{{i.information}}</li>
                  </ul>
                </dd>
              </div>
            </dl>

          </div>


        </div>
        <div class="mt-6 flex flex-col justify-stretch">
          <button type="button"
            class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
            [routerLink]="['/inoculate', patientData?.id , patientData?.idNumber]">
            New Inoculaton
          </button>
        </div>
      </div>
    </section>
  </div>
</main>

<div style="height: 100px;"></div>

